name: PR
on:
  pull_request:
    types: [ opened, synchronize, reopened ]
  merge_group:
    types: [ checks_requested ]
  workflow_dispatch:
    inputs:
      duration:
        description: 'Duration to wait before proceeding with deployment (in seconds)'
        type: number
        required: false
        default: 0
permissions:
  id-token: write # configure-aws-credentials
  pull-requests: write # pr comment
jobs:
  pr-checks:
    uses: ./.github/workflows/pass.yml
    with:
      skip: ${{ github.event_name == 'merge_group' }}
      sleep: ${{ inputs.duration && fromJSON(inputs.duration) || 0  }}

  build:
    uses: ./.github/workflows/build.yml

  custom-deploy:
    needs: [ build ]
    if: github.event_name == 'merge_group' && needs.build.result == 'success'
    uses: ./.github/workflows/deploy.yml
    with:
      environment: test
      sleep: 60
    secrets: inherit

  required-check:
    runs-on: ubuntu-latest
    needs: [ pr-checks, custom-deploy ]
    if: always()
    steps:
    - uses: re-actors/alls-green@v1.2.2
      with:
        jobs: ${{ toJSON(needs) }}
        allowed-skips: pr-checks,custom-deploy
