name: PR
on:
  workflow_dispatch:
  pull_request:
    types: [ opened, synchronize, reopened ]
  merge_group:
    types: [ checks_requested ]
permissions:
  id-token: write # configure-aws-credentials
  pull-requests: write # pr comment
jobs:
  changes:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: dorny/paths-filter@v3
      id: filter
      with:
        filters: |
          tf:  [ '*.(tf|tfvars)', '.terraform.locl.hcl', version ]
    - name: Wait for deployment slot
      if: github.event_name == 'merge_group'
      uses: softprops/turnstyle@v3
      with:
        poll-interval-seconds: 10
        same-branch-only: false
        abort-after-seconds: 3600
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  pr-checks:
    uses: ./.github/workflows/pass.yml
    with:
      skip: ${{ github.event_name != 'pull_request' }}

  build:
    uses: ./.github/workflows/build.yml

  deploy:
    needs: [ changes, build ]
    if: github.event_name == 'merge_group' && needs.build.result == 'success'
    uses: ./.github/workflows/deploy.yml
    with:
      environment: test
      sleep: 50

  required-check:
    runs-on: ubuntu-latest
    needs: [pr-checks, deploy]
    if: always()
    steps:
    - uses: re-actors/alls-green@v1.2.2
      with:
        jobs: ${{ toJSON(needs) }}
        allowed-skips: pr-checks,deploy
