name: PR
on:
  pull_request:
    types: [ opened, synchronize, reopened ]
  merge_group:
    types: [ checks_requested ]
  workflow_dispatch:
    inputs:
      duration:
        description: 'Duration to wait before proceeding with deployment (in seconds)'
        required: false
        default: '10'
permissions:
  id-token: write # configure-aws-credentials
  pull-requests: write # pr comment
jobs:
  pr-checks:
    uses: ./.github/workflows/pass.yml
    with:
      skip: ${{ github.event_name != 'pull_request' }}
      sleep: ${{ inputs.duration || 0 }}

  build:
    uses: ./.github/workflows/build.yml

  deploy:
    needs: [ build ]
    if: needs.build.result == 'success' && (github.event_name == 'merge_group' || github.event_name == 'workflow_dispatch')
    uses: ./.github/workflows/deploy.yml
    with:
      environment: test
      sleep: ${{ inputs.duration || 10}}
    secrets: inherit

  required-check:
    runs-on: ubuntu-latest
    needs: [pr-checks, deploy]
    if: always()
    steps:
    - uses: re-actors/alls-green@v1.2.2
      with:
        jobs: ${{ toJSON(needs) }}
        allowed-skips: pr-checks,deploy
